.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

data/
outputs/checkpoints/
outputs/figures/*.png
outputs/metrics/*.csv
outputs/metrics/*.json
outputs/pdf_preview/

reports/*.aux
reports/*.fls
reports/*.fdb_latexmk
reports/*.log
reports/*.lof
reports/*.lot
reports/*.out
reports/*.toc
reports/*.pdf

slides/*.aux
slides/*.fls
slides/*.fdb_latexmk
slides/*.log
slides/*.nav
slides/*.out
slides/*.pdf
slides/*.snm
slides/*.toc
